@import "../abstract/typography";

.landing {
  height: 100vh;
  width: 100%;
  padding-top: 0.1rem;
  color: black;
  .text_structure {
    margin-top: 15rem;
    padding: 2vw 3.6vw;
    .masker {
      font-family: $founders;
      display: flex;
      align-items: center;
      overflow: hidden;
      justify-items: center;
      .heading__box {
        width: 9vw;
        height: 6vw;
        position: relative;
        top: 0.2vw;
        background-color: green;
        border-radius: 10px;
        margin-right: 0.6rem;
      }
      h1 {
        font-size: 9vw;
        letter-spacing: 0rem;
        text-transform: uppercase;
        line-height: 5.5vw;
        padding: 1rem 0;
      }
    }
  }
  .landing__footer {
    border-top: 0.1rem solid rgba(81, 80, 80, 0.6);
    margin-top: 15rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    .landing__footer__text {
      font-size: 1.6rem;
      letter-spacing: 0;
    }
    .start {
      display: flex;
      align-items: center;
      gap: 2rem;
      .btn {
        font-size: 1.4rem;
        line-height: 1.5rem;
        padding: 0.8rem 1.6rem;
        border: 0.2rem solid rgb(44, 44, 44);
        border-radius: 2rem;
        text-transform: uppercase;
      }
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;
        border: 0.2rem solid rgb(44, 44, 44);
        border-radius: 50%;
      }
    }
  }
}
